@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
* {
    padding :0;
    margin: 0;
    }
    body{
        font-family: 'Blinker', sans-serif;
        font-size: 20px;
        background: #edeef0;
    }
    .cartoon img{
        width: 550px;
        height: 300px;
    }
.nav-link {
    font-size: 1em;
    text-decoration: none;
    color:black;
    cursor:pointer;
}
nav ul{
    display: flex;
    justify-content: center;
    margin:20px;
    align-items: center;
    list-style: none;
    padding: 10px;
  }
  nav ul li{
    margin: 0 20px;
}
header{
    font-size: 1em;
    font-weight: 200;
    background: black;
    color:white;
    text-align: center;
    padding: 50px 30px;
}
section p{
    margin:20px;
}
h1,h2,h3,h5{
    font-weight: 200;
}
h1{
    font-size:4em;
}
h2{
    font-size:2.5em;
}
h3{
    font-size:2em ;
}
h5{
    font-size:1em;
}
#tomjerry{
    padding: 50px 20px;
    background: #FFA500 ;
    color:white;
    text-align: center;
}
#doremon{   
    padding:50px 20px;
    background:#FF69B4;
    color:white;
    text-align: center;
}
#pokemon{
    padding: 50px 20px;
    background: #00BFFF;
    color:white;
    text-align: center;
}
