@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
* {
    padding :0;
    margin: 0;
    }
    body{
        font-family: 'Blinker', sans-serif;
        background: #edeef0;
    }
    .cartoon{
        color:white;
        text-align: center;
        padding: 50px 20px;

    }
    .cartoon img{
        width: 550px;
        height: 300px;
        
    }

.nav-link {
    font-size: 1em;
    text-decoration: none;
    color:black;
    cursor:pointer;
}
nav ul{
    
    margin:20px;
    align-items: center;
    list-style: none;
    padding: 10px;
  }
  nav ul li{
    margin: 0 20px;
}
header{
    font-size: 1em;
    font-weight: 200;
    background: black;
    color:white;
    text-align: center;
    padding: 50px 30px;
}
section p{
    margin:20px;
}

#tomjerry{
   
    background: #FFA500 ;
  
}
#doremon{   

    background:#FF69B4;
    
}
#pokemon{
    
    background: #00BFFF;}